SQLALCHEMY_DATABASE_URI='mysql+pymysql://root@localhost/NOMBREDELADB'
JWT_SECRET_KEY='123456789'
SMTP_SERVER='smtp.gmail.com'
SMTP_PORT=587
SMTP_USERNAME='example@gmail.com'
SMTP_PASSWORD='passexample'
