<!-- coment.html -->
{% extends 'layout.html' %}

{% block body %}
<body>
    <section id="page-header" class="about-header">
        <h2>La Historia Detrás de Tu Look</h2>
        <h3>Moda creada con pasión, para chicas que viven con estilo y actitud</h3>
    </section>

    <section id="about-head" class="section-p1">
        <img src="../static/img/about/a6.jpg" alt="">
        <div>
            <h2>Sobre Nosotras</h2>
            <p>¡Hola! Bienvenida a Shopping Grils, el lugar donde la moda urbana se mezcla con esos looks increíbles que necesitas para tus noches más memorables. 🎉</p>
            <h3>Como Comenzamos?</h3>
            <p>Esta tienda nació de un sueño (y unas cuantas noches sin dormir) de Mel, que puso todo su esfuerzo para crear este espacio donde puedas encontrar outfits auténticos y con actitud. Desde lo urbano hasta lo glam, cada prenda está diseñada para hacerte sentir única. Gracias por ser parte de este viaje. ¡Nos encanta verte brillar! 💫  </p>
        </div>
    </section>

    {% include 'layout2.html' %}
    </section>
</body>
{% endblock %}