{% extends 'layout.html' %}
{% block body %}

<div id="post-header" class="section">
    <h2>#create_post</h2>
    <p>Crea una nueva entrada en el blog</p>
</div>

<div id="add-post-section" class="section">
    <form id="post-form-custom" action="{{ url_for('main.add_post') }}" method="post" enctype="multipart/form-data">
        <div class="form-details">
            <h2>Detalles de la Entrada</h2>
            
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>
            </div>

            <div class="form-group">
                <label for="contenido">Contenido:</label>
                <textarea id="contenido" name="contenido" required></textarea>
            </div>

            <div class="form-group">
                <label for="imagen">Imagen (opcional):</label>
                <input type="file" id="imagen" name="imagen" accept="image/png, image/jpeg, image/gif">
            </div>

            <button type="submit" class="submit-btn">Añadir Entrada</button>
        </div>
    </form>
</div>

{% endblock %}
