{% extends 'layout.html' %}

{% block body %}
<section class="account-page">
    <div class="container">
        <div class="forgot-password-container">
            <h3 class="title-pass">Forgot Password</h3>
            <form id="ForgotPasswordForm" method="POST" action="{{ url_for('auth.forgot_password') }}">
                <input type="email" name="email" placeholder="Email" required>
                <button type="submit">Send Temporary Password</button>
                <div id="forgotPasswordMessage" class="forgot-password-message">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <p class="{{ category }}">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
